.divider {
  width: 70%;
  border: 2px solid rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  margin: auto;
  padding: 0;
}

.icons-display {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 200px;
  margin: auto;
}

.navigation-links {
  width: 400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container {
  max-width: 600px;
  height: 350px;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.component-container {
  width: 90%;
  max-width: 800px;
  margin: 1rem auto;
  text-align: center;
  padding: 1rem 0;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.column {
  flex-basis: 100%;
  margin: 1rem;
  overflow: hidden;
  height: 300px;
  box-shadow: -1px 5px 5px rgba(0, 0, 0, 0.25);
}

.github-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 115%;
  transition: 0.3s;
  display: flex;
  align-items: center;
}

.github-img:hover {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.github-display {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  /* padding-top: 110px; */
}

.website-link {
  margin: auto;
}

.website-link div {
  color: rgba(255, 255, 255, 0.5);
  transition: 0.3s;
}

.website-link div:hover {
  color: rgb(255, 255, 255);
  text-shadow: #fff;
  transition: 0.3s;
}

.github-display h4 {
  padding-left: 1rem;
  padding-bottom: 0;
}

.resume-container {
  width: 90%;
  max-width: 1600px;
  /* border: 1px solid #000; */
  margin: auto;
  /* padding: 3rem; */
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.resume-container h2 {
  text-align: center;
}

.resume-aside {
  max-width: 400px;
  width: 100%;
  box-shadow: -0px 5px 5px 5px rgba(0, 0, 0, 0.25);
  margin-right: 1rem;
  margin-left: 1rem;
  margin-bottom: 1.5rem;
}

.resume-img-container {
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.resume-img {
  width: auto;
  height: 650px;
}

.resume-skills {
  width: 80%;
  margin: auto;
  padding: 2rem 0;
}

.resume-skills div {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 0.5rem 0;
}

.resume-skills div p {
  margin-left: 1rem;
}

.resume-skills div h4 {
  margin-left: 1rem;
  padding: 0;
}

.resume-section {
  max-width: 1000px;
  width: 90%;
  padding: 1rem 0.5rem;
  box-shadow: -0px 5px 5px 5px rgba(0, 0, 0, 0.25);
  margin-bottom: 1.5rem;
}

.resume-work {
  width: 80%;
  margin: auto;
  padding: 2rem 0;
}

.resume-work div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.25rem 0;
}

.resume-work div h2 {
  margin-left: 1rem;
  padding: 0;
}

.resume-work-history {
  width: 80%;
  margin: auto;
  padding: 0rem 0;
}

.resume-work-history div {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 0.25rem 0;
}

.resume-work-history div p {
  margin-left: 1rem;
}

.resume-work-para {
  margin-top: 1rem;
}

.current {
  background-color: var(--secondary-color);
  padding: 0.5rem;
  border-radius: 5px;
  color: #fff;
}

.aboutMe-img {
  margin-bottom: 2rem;
  box-shadow: -1px 5px 5px 5px rgba(0, 0, 0, 0.25);
  max-width: 400px;
}

@media screen and (min-width: 800px) {
  .column {
    flex: 1;
  }
}

@media screen and (max-width: 500px) {
  .navigation-links {
    width: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100px;
  }
}
